<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../components/styles.css">
    <title>Document</title>
</head>
<body>
    
    <!--Task Bar Section-->
<div class="header">
    <div class="left">
     <h3 class="logo">Header Logo</h3>
    </div>

    <div class="center">
        <ul class="links">
            <li>header link one</li>
            <li>header link two</li>
            <li>header link three</li>
        </ul>   
    </div>


</div>
    <!-- Main   -->
    <div class="body">
        <h3 class="title">This website is awesome</h3>
        <p class="descrip">This website has some subtext that goes here under the main title/ Ots a s,aller font and the color is a lower contrast</p>
        <img src="" alt="This is a placeholder for an image">
    </div>
</body>
</html>